html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}

.inactive {
  margin-right: 10px;
  padding: 10px;
  color: grey;
}

.active {
  color: black;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(64, 224, 208, 0.657);
}

.logout {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 0px 35px -3px rgba(0, 69, 66, 0.16);
}

.field {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.error {
  color: red;
  font-size: 10px;
  width: 160px;
}
