#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93%;
  padding: 0;
  margin: 0;
}

#messageContainer {
  margin: 50px 10px 300px 10px;
  height: auto;
  width: auto;
}
