version: "3"
services:
  mongo:
    image: mongo:latest
    ports:
      - "20717:20717" 
    volumes:
      - /data/db # Create a volume for the DB.
  client:
    container_name: client
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    env_file: 
      - client.env
    restart: always
    stdin_open: true # Hot reloading create react app: https://github.com/facebook/create-react-app/issues/8688#issuecomment-602110747
    volumes: 
      - ./client:/app #Synchronise docker container with local change
      - /app/node_modules #Avoid re-copying local node_modules. Cache in volume.
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    depends_on:
      - mongo
    env_file: 
      - server.env
    ports:
      - "8081:8081"
    restart: always
    volumes: 
      - ./server:/app #Synchronise docker container with local change
      - /app/node_modules #Avoid re-copying local node_modules. Cache in volume.
