#navbar {
  box-shadow: 2px 0px 29px -4px rgba(0, 69, 66, 0.28);
  background-color: #fff;
}

#right {
  margin-right: 25%;
}

#left {
  margin-left: 25%;
}

@media screen and (max-width: 640px) {
  #right {
    margin-right: 0px;
  }

  #left {
    margin-left: 0px;
  }
}
