#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  padding: 0;
  margin: 0;
}

#formContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 340px;
  margin: 50px 10px 0px 10px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 10px;
  box-shadow: 2px 0px 35px -3px rgba(0, 69, 66, 0.16);
}

#messageContainer {
  margin: 50px 10px 300px 10px;
  height: auto;
  width: auto;
}

#title {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 1000;
  text-align: center;
  color: #00b5ad;
}

#signupBtn {
  margin-top: 30px;
}
