#container {
  display: flex;
  height: min-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

#formContainer {
  display: flex;

  flex-direction: column;
  min-height: min-content;
  width: 340px;
  margin-bottom: 0;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 10px;
  box-shadow: 2px 0px 35px -3px rgba(0, 69, 66, 0.16);
}

#messageContainer {
  margin: 50px 10px 300px 10px;
  height: auto;
  width: auto;
}

#signupBtn {
  margin-top: 30px;
}
